* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: justify;
  background-color: lightgrey;
  margin-bottom: 35px;
}

h1 {
  color: white;
  background-color: black;
  text-align: right;
  padding: 10px;
  margin: 0;
}

h2 {
  border-bottom: white 5px solid;
}

p {
  margin-top: 1.25em;
}

h2,
p {
  margin-left: 20%;
  margin-right: 20%;
}

.fecha {
  border-top: black 3px solid;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
  margin-bottom: 1.25em;
}

time {
  color: white;
  background-color: gray;
  font-size: 200%;
  padding: 5px;
  letter-spacing: 5px;
  font-weight: bold;
}

.cargo {
  color: red;
  background-color: white;
}

.lugar {
  color: blue;
}

strong {
  font-variant: small-caps;
}

q {
  border-bottom: 1px dashed red;
  font-size: 150%;
  font-family: serif;
}
